In [2]:
#import
import pandas as pd
import numpy as np
import os

# Import Data

In [3]:
#set path for raw data
raw_data_path = os.path.join(os.path.pardir,'data','raw')
train_file_path = os.path.join(raw_data_path, 'train.csv')
test_file_path = os.path.join(raw_data_path, 'test.csv')

In [4]:
#read data with all parameters
train_df = pd.read_csv(train_file_path, index_col='ord')
test_df = pd.read_csv(test_file_path, index_col='ord')

In [4]:
# get the type
type(train_df)

pandas.core.frame.DataFrame

# Basic Structure

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 800
Data columns (total 29 columns):
TIME                           800 non-null object
LATITUDE                       800 non-null object
LONGITUDE                      800 non-null object
ALTITUDE                       800 non-null int64
VEHICLE_ID                     800 non-null object
BAROMETRIC_PRESSURE            794 non-null float64
ENGINE_COOLANT_TEMP            799 non-null float64
FUEL_LEVEL                     800 non-null object
ENGINE_LOAD                    800 non-null object
AMBIENT_AIR_TEMP               799 non-null float64
ENGINE_RPM                     800 non-null int64
INTAKE_MANIFOLD_PRESSURE       800 non-null int64
MAF                            797 non-null object
TERM FUEL TRIM BANK 1          0 non-null float64
FUEL_ECONOMY                   0 non-null float64
LONG TERM FUEL TRIM BANK 2     0 non-null float64
FUEL_TYPE                      0 non-null float64
AIR_INTAKE_TEMP                789 non-null float64
FUEL_PRESSURE                  0 non-null float64
SPEED                          725 non-null float64
SHORT TERM FUEL TRIM BANK 2    0 non-null float64
SHORT TERM FUEL TRIM BANK 1    794 non-null object
ENGINE_RUNTIME                 800 non-null object
THROTTLE_POS                   793 non-null object
DTC_NUMBER                     745 non-null object
TROUBLE_CODES                  29 non-null float64
TIMING_ADVANCE                 399 non-null object
EQUIV_RATIO                    399 non-null object
aqui                           0 non-null float64
dtypes: float64(13), int64(3), object(13)
memory usage: 187.5+ KB

In [6]:
train_df.shape

(800, 29)

In [8]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 801 to 1000
Data columns (total 29 columns):
TIME                           200 non-null object
LATITUDE                       200 non-null object
LONGITUDE                      200 non-null object
ALTITUDE                       200 non-null int64
VEHICLE_ID                     200 non-null object
BAROMETRIC_PRESSURE            196 non-null float64
ENGINE_COOLANT_TEMP            199 non-null float64
FUEL_LEVEL                     199 non-null object
ENGINE_LOAD                    198 non-null object
AMBIENT_AIR_TEMP               198 non-null float64
ENGINE_RPM                     200 non-null int64
INTAKE_MANIFOLD_PRESSURE       200 non-null int64
MAF                            199 non-null object
TERM FUEL TRIM BANK 1          0 non-null float64
FUEL_ECONOMY                   0 non-null float64
LONG TERM FUEL TRIM BANK 2     0 non-null float64
FUEL_TYPE                      0 non-null float64
AIR_INTAKE_TEMP                197 non-null float64
FUEL_PRESSURE                  0 non-null float64
SPEED                          197 non-null float64
SHORT TERM FUEL TRIM BANK 2    0 non-null float64
SHORT TERM FUEL TRIM BANK 1    200 non-null object
ENGINE_RUNTIME                 199 non-null object
THROTTLE_POS                   200 non-null object
DTC_NUMBER                     193 non-null object
TROUBLE_CODES                  11 non-null float64
TIMING_ADVANCE                 11 non-null object
EQUIV_RATIO                    11 non-null object
aqui                           0 non-null float64
dtypes: float64(13), int64(3), object(13)
memory usage: 46.9+ KB

In [9]:
test_df.shape

(200, 29)

In [10]:
train_df.shape

(800, 29)

In [5]:
#concat train & test data for cleaning , axis=0/1 ,0-row concat,1-column concat
df = pd.concat((train_df,test_df),axis=0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 29 columns):
TIME                           1000 non-null object
LATITUDE                       1000 non-null object
LONGITUDE                      1000 non-null object
ALTITUDE                       1000 non-null int64
VEHICLE_ID                     1000 non-null object
BAROMETRIC_PRESSURE            990 non-null float64
ENGINE_COOLANT_TEMP            998 non-null float64
FUEL_LEVEL                     999 non-null object
ENGINE_LOAD                    998 non-null object
AMBIENT_AIR_TEMP               997 non-null float64
ENGINE_RPM                     1000 non-null int64
INTAKE_MANIFOLD_PRESSURE       1000 non-null int64
MAF                            996 non-null object
TERM FUEL TRIM BANK 1          0 non-null float64
FUEL_ECONOMY                   0 non-null float64
LONG TERM FUEL TRIM BANK 2     0 non-null float64
FUEL_TYPE                      0 non-null float64
AIR_INTAKE_TEMP                986 non-null float64
FUEL_PRESSURE                  0 non-null float64
SPEED                          922 non-null float64
SHORT TERM FUEL TRIM BANK 2    0 non-null float64
SHORT TERM FUEL TRIM BANK 1    994 non-null object
ENGINE_RUNTIME                 999 non-null object
THROTTLE_POS                   993 non-null object
DTC_NUMBER                     938 non-null object
TROUBLE_CODES                  40 non-null float64
TIMING_ADVANCE                 410 non-null object
EQUIV_RATIO                    410 non-null object
aqui                           0 non-null float64
dtypes: float64(13), int64(3), object(13)
memory usage: 234.4+ KB

In [15]:
df.head()

,TIME,BAROMETRIC_PRESSURE,ENGINE_COOLANT_TEMP,FUEL_LEVEL,ENGINE_LOAD,AMBIENT_AIR_TEMP,ENGINE_RPM,INTAKE_MANIFOLD_PRESSURE,MAF,AIR_INTAKE_TEMP,SPEED,SHORT TERM FUEL TRIM BANK 1,ENGINE_RUNTIME,THROTTLE_POS,DTC_NUMBER,TROUBLE_CODES
ord,,,,,,,,,,,,,,,,
1,"1,51E+12",100.0,95.0,"56,10","43,10",4.0,816,39,"4,73",34.0,NaN,"0,80",0:45:33,"21,20",MIL is OFF0 codes,NaN
2,"1,51E+12",100.0,95.0,"56,10","42,00",4.0,807,37,"4,73",34.0,0.0,"0,80",0:45:37,"21,60",MIL is OFF0 codes,NaN
3,"1,51E+12",100.0,94.0,"56,10","50,60",4.0,1559,37,"11,51",32.0,9.0,"-6,20",0:45:41,"29,80",MIL is OFF0 codes,NaN
4,"1,51E+12",100.0,93.0,"56,90","41,20",4.0,1692,46,"10,29",32.0,10.0,"3,10",0:45:45,"29,00",MIL is OFF0 codes,NaN
5,"1,51E+12",100.0,91.0,"56,90","55,70",4.0,863,52,"7,25",32.0,11.0,"4,70",0:45:49,"25,90",MIL is OFF0 codes,NaN

In [8]:
df.describe()

,ALTITUDE,BAROMETRIC_PRESSURE,ENGINE_COOLANT_TEMP,AMBIENT_AIR_TEMP,ENGINE_RPM,INTAKE_MANIFOLD_PRESSURE,TERM FUEL TRIM BANK 1,FUEL_ECONOMY,LONG TERM FUEL TRIM BANK 2,FUEL_TYPE,AIR_INTAKE_TEMP,FUEL_PRESSURE,SPEED,SHORT TERM FUEL TRIM BANK 2,TROUBLE_CODES,aqui
count,1000.000000,990.000000,998.000000,997.0,1000.00000,1000.000000,0.0,0.0,0.0,0.0,986.000000,0.0,922.000000,0.0,40.0,0.0
mean,40.269000,100.123232,85.417836,4.0,1280.99900,37.513000,NaN,NaN,NaN,NaN,32.504057,NaN,30.197397,NaN,4300.0,NaN
std,5.884494,0.328870,4.409432,0.0,366.71697,15.230029,NaN,NaN,NaN,NaN,1.732486,NaN,17.566195,NaN,0.0,NaN
min,16.000000,100.000000,79.000000,4.0,714.00000,17.000000,NaN,NaN,NaN,NaN,30.000000,NaN,0.000000,NaN,4300.0,NaN
25%,36.000000,100.000000,82.000000,4.0,962.75000,26.000000,NaN,NaN,NaN,NaN,31.000000,NaN,19.000000,NaN,4300.0,NaN
50%,41.000000,100.000000,83.000000,4.0,1270.50000,34.500000,NaN,NaN,NaN,NaN,32.000000,NaN,32.000000,NaN,4300.0,NaN
75%,45.000000,100.000000,88.000000,4.0,1556.25000,46.000000,NaN,NaN,NaN,NaN,33.000000,NaN,42.000000,NaN,4300.0,NaN
max,57.000000,101.000000,100.000000,4.0,2882.00000,100.000000,NaN,NaN,NaN,NaN,38.000000,NaN,62.000000,NaN,4300.0,NaN

# Data Munging - Working with Missing Values

In [9]:
#use info to check missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 29 columns):
TIME                           1000 non-null object
LATITUDE                       1000 non-null object
LONGITUDE                      1000 non-null object
ALTITUDE                       1000 non-null int64
VEHICLE_ID                     1000 non-null object
BAROMETRIC_PRESSURE            990 non-null float64
ENGINE_COOLANT_TEMP            998 non-null float64
FUEL_LEVEL                     999 non-null object
ENGINE_LOAD                    998 non-null object
AMBIENT_AIR_TEMP               997 non-null float64
ENGINE_RPM                     1000 non-null int64
INTAKE_MANIFOLD_PRESSURE       1000 non-null int64
MAF                            996 non-null object
TERM FUEL TRIM BANK 1          0 non-null float64
FUEL_ECONOMY                   0 non-null float64
LONG TERM FUEL TRIM BANK 2     0 non-null float64
FUEL_TYPE                      0 non-null float64
AIR_INTAKE_TEMP                986 non-null float64
FUEL_PRESSURE                  0 non-null float64
SPEED                          922 non-null float64
SHORT TERM FUEL TRIM BANK 2    0 non-null float64
SHORT TERM FUEL TRIM BANK 1    994 non-null object
ENGINE_RUNTIME                 999 non-null object
THROTTLE_POS                   993 non-null object
DTC_NUMBER                     938 non-null object
TROUBLE_CODES                  40 non-null float64
TIMING_ADVANCE                 410 non-null object
EQUIV_RATIO                    410 non-null object
aqui                           0 non-null float64
dtypes: float64(13), int64(3), object(13)
memory usage: 234.4+ KB

### i) Delete Unwanted Columns

In [10]:
df.drop(['LATITUDE','LONGITUDE','ALTITUDE','VEHICLE_ID','TERM FUEL TRIM BANK 1','FUEL_ECONOMY','LONG TERM FUEL TRIM BANK 2','FUEL_TYPE','FUEL_PRESSURE','SHORT TERM FUEL TRIM BANK 2','TIMING_ADVANCE','EQUIV_RATIO','aqui'], axis=1 , inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 16 columns):
TIME                           1000 non-null object
BAROMETRIC_PRESSURE            990 non-null float64
ENGINE_COOLANT_TEMP            998 non-null float64
FUEL_LEVEL                     999 non-null object
ENGINE_LOAD                    998 non-null object
AMBIENT_AIR_TEMP               997 non-null float64
ENGINE_RPM                     1000 non-null int64
INTAKE_MANIFOLD_PRESSURE       1000 non-null int64
MAF                            996 non-null object
AIR_INTAKE_TEMP                986 non-null float64
SPEED                          922 non-null float64
SHORT TERM FUEL TRIM BANK 1    994 non-null object
ENGINE_RUNTIME                 999 non-null object
THROTTLE_POS                   993 non-null object
DTC_NUMBER                     938 non-null object
TROUBLE_CODES                  40 non-null float64
dtypes: float64(6), int64(2), object(8)
memory usage: 132.8+ KB

### ii) Feature : FUEL_LEVEL

In [12]:
df[df.FUEL_LEVEL.isnull()]

,TIME,BAROMETRIC_PRESSURE,ENGINE_COOLANT_TEMP,FUEL_LEVEL,ENGINE_LOAD,AMBIENT_AIR_TEMP,ENGINE_RPM,INTAKE_MANIFOLD_PRESSURE,MAF,AIR_INTAKE_TEMP,SPEED,SHORT TERM FUEL TRIM BANK 1,ENGINE_RUNTIME,THROTTLE_POS,DTC_NUMBER,TROUBLE_CODES
ord,,,,,,,,,,,,,,,,
834,"1,51E+12",100.0,82.0,NaN,"18,80",4.0,1325,21,"3,72",31.0,45.0,"0,00",1:50:46,"20,40",MIL is OFF0 codes,NaN

In [14]:
df.FUEL_LEVEL.value_counts()

54,90    130
55,30    100
55,70     89
54,50     81
54,10     70
53,30     70
56,10     56
52,90     55
53,70     52
56,50     43
56,90     34
52,50     33
52,20     27
51,80     26
57,30     26
57,60     20
51,40     14
51,00     11
50,60      9
58,00      9
58,40      8
49,80      6
58,80      6
49,40      4
59,20      4
50,20      4
60,00      3
59,60      3
49,00      2
60,40      2
60,80      1
48,60      1
Name: FUEL_LEVEL, dtype: int64

In [16]:
df.groupby(['INTAKE_MANIFOLD_PRESSURE','FUEL_LEVEL']).AIR_INTAKE_TEMP.median()

INTAKE_MANIFOLD_PRESSURE  FUEL_LEVEL
17                        56,90         33.0
18                        52,50         35.0
                          52,90         31.0
                          53,30         30.5
                          53,70         33.0
                          54,50         31.0
                          54,90         32.0
                          56,10         31.5
                          56,50         32.0
                          56,90         31.0
                          57,30         32.0
19                        52,50         32.0
                          52,90         30.0
                          53,30         31.0
                          53,70         35.0
                          54,10         32.0
                          54,50         30.0
                          54,90         32.0
                          55,30         32.5
                          55,70         33.0
                          56,10         33.0
                          56,50         31.5
                          56,90         31.0
                          57,30         31.0
                          58,00         32.5
                          58,40         32.0
20                        50,60         31.0
                          51,00         31.0
                          52,20         30.5
                          52,50         31.0
                                        ...
75                        54,90         31.0
                          55,70         33.0
76                        54,90         31.5
77                        52,50         30.0
78                        51,80         31.0
79                        54,50         31.0
                          59,20         33.0
80                        56,90         31.0
81                        51,40         31.0
                          52,50         30.0
                          52,90         30.0
                          53,30         30.0
                          55,70         31.0
                          56,90         30.0
82                        52,20         32.0
                          55,70         32.0
83                        50,60         30.0
                          55,30         32.0
                          58,80         33.0
84                        53,30         30.0
87                        50,20         31.0
88                        52,20         32.0
89                        52,20         31.0
90                        53,70         33.0
91                        53,30         32.0
                          54,10         30.0
98                        51,80         32.0
                          53,70         32.0
99                        53,70         31.0
100                       53,70         33.0
Name: AIR_INTAKE_TEMP, Length: 518, dtype: float64

In [17]:
df.FUEL_LEVEL.fillna('54,90', inplace= True)

In [18]:
df[df.FUEL_LEVEL.isnull()]

Empty DataFrame
Columns: [TIME, BAROMETRIC_PRESSURE, ENGINE_COOLANT_TEMP, FUEL_LEVEL, ENGINE_LOAD, AMBIENT_AIR_TEMP, ENGINE_RPM, INTAKE_MANIFOLD_PRESSURE, MAF, AIR_INTAKE_TEMP, SPEED, SHORT TERM FUEL TRIM BANK 1, ENGINE_RUNTIME, THROTTLE_POS, DTC_NUMBER, TROUBLE_CODES]
Index: []

### iii) Feature : ENGINE_COOLANT_TEMP

In [19]:
df[df.ENGINE_COOLANT_TEMP.isnull()]

,TIME,BAROMETRIC_PRESSURE,ENGINE_COOLANT_TEMP,FUEL_LEVEL,ENGINE_LOAD,AMBIENT_AIR_TEMP,ENGINE_RPM,INTAKE_MANIFOLD_PRESSURE,MAF,AIR_INTAKE_TEMP,SPEED,SHORT TERM FUEL TRIM BANK 1,ENGINE_RUNTIME,THROTTLE_POS,DTC_NUMBER,TROUBLE_CODES
ord,,,,,,,,,,,,,,,,
87,"1,51E+12",100.0,NaN,"57,60","62,40",4.0,1477,53,"13,74",32.0,30.0,"-5,50",0:52:09,"31,00",MIL is OFF0 codes,NaN
826,"1,51E+12",100.0,NaN,"53,70","12,20",4.0,1238,20,"3,42",31.0,42.0,"0,00",1:50:14,"23,50",MIL is OFF0 codes,NaN

In [22]:
median_ect = df.loc[(df.BAROMETRIC_PRESSURE == 100) & (df.AMBIENT_AIR_TEMP == 4.0),'ENGINE_COOLANT_TEMP'].median()
print (median_ect)

83.0

In [23]:
df.ENGINE_COOLANT_TEMP.fillna(median_ect, inplace= True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 16 columns):
TIME                           1000 non-null object
BAROMETRIC_PRESSURE            990 non-null float64
ENGINE_COOLANT_TEMP            1000 non-null float64
FUEL_LEVEL                     1000 non-null object
ENGINE_LOAD                    998 non-null object
AMBIENT_AIR_TEMP               997 non-null float64
ENGINE_RPM                     1000 non-null int64
INTAKE_MANIFOLD_PRESSURE       1000 non-null int64
MAF                            996 non-null object
AIR_INTAKE_TEMP                986 non-null float64
SPEED                          922 non-null float64
SHORT TERM FUEL TRIM BANK 1    994 non-null object
ENGINE_RUNTIME                 999 non-null object
THROTTLE_POS                   993 non-null object
DTC_NUMBER                     938 non-null object
TROUBLE_CODES                  40 non-null float64
dtypes: float64(6), int64(2), object(8)
memory usage: 132.8+ KB